body {
    font-family: 'Nunito Sans', sans-serif;
    
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-item {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    line-height: 1.3;
    bottom: 5px;
    right: -5px;
}
.button-text {
    font-weight: 700;
    font-size: 15px;
    color: #443737;
}
.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}   
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.discription {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
/*

Активный код взят у Анны из последующего урока (он идет ниже); тот, который закомментирован - чисто мой для Д/З

.banner {
    margin-bottom: 140px;
}
.banner-box {
    position: relative;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 438px;
    color: #FFFFFF;
}
.banner-title {
    position: absolute;
    margin-top: 130px;
    margin-left: 100px;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
}
.banner-title span {
    position: absolute;
    background-color: #F37335;
    margin-top: -40px;
    width: 95px;
    height: 28px;
    text-align: center;
    border-radius: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
}
.banner-text {
    position: absolute;
    margin-top: 210px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.banner-link {
    position: absolute;
    margin-top: 280px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 5px;
}
*/
.banner-box {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 100px 120px;
    margin-bottom: 100px;
}
.banner-title {
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin-top: 0;
    margin-bottom: 12px;
}
.banner-title span {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    background-color: #F37335;
    border-radius: 14px;
    padding: 5px 0;
    display: block;
    max-width: 96px;
    text-align: center;
    margin-bottom: 9px;
}
.banner-text {
    color: #FAF9F9;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    max-width: 353px;
    margin-top: 0;
    margin-bottom: 35px;
}
.banner-link {
    font-size: 14px;
    padding: 18px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    border: 1px solid #FBB731;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1B2A49;
    margin: 0;
    margin-bottom: 34px;
}
.menu-select {
    border: 1px solid #DEDEDE;
    border-radius: 22px;
    padding: 13px 30px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}

/*
Активный код взят у Анны из последующего урока (он идет ниже); тот, который закомментирован - чисто мой для Д/З

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 100px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-size: 30px;
    text-align: center;
    color: #1B2A49;
    margin: 0;
    margin-bottom: 5px;
}
.menu-grid-price {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #979797;
    margin: 0;
    margin-bottom: 20px;
}
.btn {
    display: block;
    margin: 0 auto;
    background: #FBB731;
    border-radius: 5px;
    border: 0;
    width: 152px;
    height: 38px;
    margin-bottom: 50px;
    cursor: pointer;
}

###############изображение корзины у меня в Д/З не вывелось###############

.menu-grid-icon {
    background-image: url(../images/cart-menu.svg);   
}
.menu-grid-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
*/
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px 20px;
    text-align: center;
    margin-bottom: 100px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 23px;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-size: 30px;
    text-align: center;
    color: #1B2A49;
    margin: 0;
}
.menu-grid-price {
    font-size: 20px;
    font-weight: 700;
    color: #979797;
    margin-top: 8px;
    margin-bottom: 22px;
}
.btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #FBB731;
    padding: 10px 32px;
    border-radius: 5px;
    border: none;
    gap: 9px;
}
.btn:hover {
    background-color: #F37335;
    cursor: pointer;
}
.menu-grid-icon {
    background-image: url(../images/cart-menu.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}
.menu-grid-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #1E2F40;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 140px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.logo-footer {
    width: 63px;
    height: 56px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19x;
    margin-top: 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 0;
}
.footer-list-tel li {
    margin-bottom: 12px;
}
.footer-list-tel a {
    font-size: 20px;
    color: #FBB731;
    font-weight: 900;
}
.footer-list-tel a:hover {
    color: #FFFFFF;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}