body {
    font-family: 'Nunito Sans', sans-serif;
    
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-item {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
    transition: 0.2s;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    line-height: 1.3;
    bottom: 5px;
    right: -5px;
}
.button-text {
    font-weight: 700;
    font-size: 15px;
    color: #443737;
}
.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}   
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.discription {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
/*

Активный код взят у Анны из последующего урока (он идет ниже); тот, который закомментирован - чисто мой для Д/З

.banner {
    margin-bottom: 140px;
}
.banner-box {
    position: relative;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 438px;
    color: #FFFFFF;
}
.banner-title {
    position: absolute;
    margin-top: 130px;
    margin-left: 100px;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
}
.banner-title span {
    position: absolute;
    background-color: #F37335;
    margin-top: -40px;
    width: 95px;
    height: 28px;
    text-align: center;
    border-radius: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
}
.banner-text {
    position: absolute;
    margin-top: 210px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.banner-link {
    position: absolute;
    margin-top: 280px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 5px;
}
*/
.banner-box {
    background-image: url(../images/banner.jpg);
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 100px 120px;
    margin-bottom: 80px;
}
.banner-title {
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin-top: 0;
    margin-bottom: 12px;
}
.banner-title span {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    background-color: #F37335;
    border-radius: 14px;
    padding: 5px 0;
    display: block;
    max-width: 96px;
    text-align: center;
    margin-bottom: 9px;
}
.banner-text {
    color: #FAF9F9;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    max-width: 353px;
    margin-top: 0;
    margin-bottom: 35px;
}
.banner-link {
    font-size: 14px;
    padding: 18px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    border: 1px solid #FBB731;
    transition: 0.2s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1B2A49;
    margin: 0;
    margin-bottom: 34px;
}
.menu-select {
    border: 1px solid #DEDEDE;
    border-radius: 22px;
    padding: 13px 30px;
    color: #443737;
    font-size: 15px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}

/*
Активный код взят у Анны из последующего урока (он идет ниже); тот, который закомментирован - чисто мой для Д/З

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 100px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-size: 30px;
    text-align: center;
    color: #1B2A49;
    margin: 0;
    margin-bottom: 5px;
}
.menu-grid-price {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #979797;
    margin: 0;
    margin-bottom: 20px;
}
.btn {
    display: block;
    margin: 0 auto;
    background: #FBB731;
    border-radius: 5px;
    border: 0;
    width: 152px;
    height: 38px;
    margin-bottom: 50px;
    cursor: pointer;
}

###############изображение корзины у меня в Д/З не вывелось###############

.menu-grid-icon {
    background-image: url(../images/cart-menu.svg);   
}
.menu-grid-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
*/
.menu {
    padding-top: 20px;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px 20px;
    text-align: center;
    margin-bottom: 100px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 23px;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-size: 30px;
    text-align: center;
    color: #1B2A49;
    margin: 0;
}
.menu-grid-price {
    font-size: 20px;
    font-weight: 700;
    color: #979797;
    margin-top: 8px;
    margin-bottom: 22px;
}
.btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #FBB731;
    padding: 10px 32px;
    border-radius: 5px;
    border: none;
    gap: 9px;
    transition: 0.2s;
}
.btn:hover {
    background-color: #F37335;
    cursor: pointer;
}
.menu-grid-icon {
    background-image: url(../images/cart-menu.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}
.menu-grid-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #1E2F40;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 140px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.logo-footer {
    width: 63px;
    height: 56px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19x;
    margin-top: 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 0;
}
.footer-list-tel li {
    margin-bottom: 12px;
}
.footer-list-tel a {
    font-size: 20px;
    color: #FBB731;
    font-weight: 900;
}
.footer-list-tel a:hover {
    color: #FFFFFF;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}
.footer-item .footer-item-tel {
    display: none
}
.button-up {
    background-color: #FBB731;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #1E2F40;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}
.button-up:hover {
    background-color:#F37335;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 0.9;
}

/* style index */

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.content-title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-top: 0;
    margin-bottom: 0;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

/*responsive*/

@media (min-width: 1001px) {
    .footer-list + .footer-list-tel {
        display: none;
    }
}

@media (min-width: 766px) {
    .header-burger {
        display: none;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .header-logo {
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav {
        gap: 22px;
    }
    .header-item {
        flex-basis: 75.5%
    }
    .bg {
        margin-bottom: 72px;
    }
    .banner-box {
        background-position: -80px center;
        padding: 100px 40px 120px;
    }
    .menu-grid {
        grid-template-columns: repeat(2,1fr);
        gap: 50px 15px;
    }
    .menu-other {
        overflow: hidden;
        height: 558px;
    }
    .menu-other .menu-grid {
        display: flex;
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 50px;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 281px;
    }
    .menu-other .menu-grid-cover,
    .menu-other .menu-grid-cover img {
        height: 320px;
    }
    .tel-footer {
        display: none;
    }
    .footer-list + .footer-list-tel {
        display: block;
    }
}

@media (max-width: 765px) {
    nav {
        display: none;
    }
    .header {
        gap: 21px;
    }
}

@media (max-width: 375px) {
    .bg {
        padding: 55px;
    }
    .breadcrumbs {
        font-size: 15px;
    }
    .title {
        font-size: 38px;
}
    .discription {
        font-size: 12px;
}
    .banner-box {
        background-position: 17% center;
        padding: 35px 24x 54px;
}
    .menu {
        margin-bottom: -40px;
}
    .menu-title {
        font-size: 27px;
        margin-bottom: 24px;
}
    .menu-select {
        margin: 0 0 26px 5px;
        font-size: 12px;
        width: 136px;
        height: 41px;
        margin-left: 51px;
}
    .menu-grid {
        gap: 0 12px;
}
    .menu-other .menu-grid {
       gap: 0 6px;
}
    .menu-grid-cover {
        height: 280px;
        margin-bottom: 23px;
}
    .menu-grid-cover img,
    .menu-other .menu-grid-cover img {
        height: 180px;
}
    .menu-other .menu-grid-cover {
        height: 180px;
}
    .menu-grid-title {
        font-size: 13px;
        margin: -54px 0 0 0;
}
    .menu-grid-price {
        font-size: 16px;
        margin-bottom: 7px;
}
    .menu-header {
        margin-top: -24px;
}  
    .menu-other {
        overflow: hidden;
        height: 312px;
}
    .menu-other .menu-grid-item {
        flex: 0 0 160px;
}
    .menu-other .menu-grid-title {
        padding-top: 45px;
    }
    .footer {
        margin-top: 100px;
}



}
@media (max-width: 360px) {
    .header-logo {
        width: 116px;
        height: 37px;
        background-size: contain;
    }
}

@media (max-width: 320px) {
    .banner-box {
        background-position: 25% center;
    }
}

/* modal */

.burger {
    width: 34px;
    height: 22px;
    background-image: url(../images/burger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}
.modal {
    background-color: #FFF8DC;
    max-width: 500px;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    padding: 40px 30px;
    box-sizing: border-box;
    transition: .5s;
}
.modal .header-nav {
    flex-direction: column;
    align-items: center;
    gap: 23px;
    margin: 0;
}
.burger-close {
    width: 22px;
    height: 22px;
    background-image: url(../images/close.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

}